#contact_map_top {
	text-align: center;
	padding:151px 80px 30px;
	background:$bg_color;
	@include mq(tablet) {
		padding: 70px 80px 30px;
	}
	@include mq(small_tablet) {
		padding: 70px 80px 10px;
	}
	@include mq(xlarge_mobile) {
		padding: 70px 20px 10px;
	}
}

.contact_phone_wrapper {
	max-width: 1000px;
	margin:38px auto 0;
	@include flex(center);
	@include mq(small_tablet) {
		display: block;
		margin: 45px auto 0;
	}
}

#contact_social_media {
	margin-top:58px;
	@include flex(center,flex-end);
	@include mq(small_tablet) {
		margin-top: 50px;
	}
	a {
		text-decoration: none;
		margin:0 30px;
		&:hover {
			svg {
				path {
					fill::$contact_page_sm_fill_color_hover;
				}
			}
		}
		svg {
			path {
				fill:$contact_page_sm_fill_color;
				transition: all 200ms ease-in-out;
			}
		}
	}
}

#contact_bottom {
	background: $contact_map_bottom_bg_color;
	padding:113px 80px 180px;
	@include mq(xsmall_laptop) {
		padding: 42px 80px 45px;
	}
	@include mq(xlarge_mobile) {
		padding: 42px 40px 45px;
	}
}

#map {
	max-width: 1345px;
	margin:0 auto;
	@include box(100%,560px);
	@include mq(xsmall_laptop) {
		display: none;
	}
}


.gm-style-iw {
	width: 300px;
	
}


#map_content {
	.map_inner_content {
		text-align: center;
	}
	h2 {
		margin-bottom:5px;
		@include type((
			size: $map_content_h2_size,
			spacing: $map_content_h2_spacing,
			family:primaryfont,
			color:$map_content_h2_color,
			weight:$map_content_h2_weight,
			transform:uppercase,
		));
	}
	span, a {
		display: block;
		color:$map_content_span_href_color;
		font-size: $map_content_span_href_size;
	}
	a.map_phone {
		text-decoration: none;
		margin-top:10px;
	}
	a.map_phone.span_phone {
		margin-top:5px;
	}
	a.map_get_directions {
		margin-top:7px;
		@include type((
			size: $map_content_directions_size,
			spacing:$map_content_directions_spacing,
			family:$primaryfont,
			color:$map_content_directions_color,
			weight:$map_content_directions_weight,
			transform:uppercase,
		));
	}
}


#mobile_locations_wrapper {
	display: none;
	@include mq(xsmall_laptop) {
		display: block;
		max-width: 450px;
		margin:0 auto;
		position: relative;
		z-index: 1;
	}
}





.locations_select_wrapper {
	@include mq(xsmall_laptop) {
		width:100%;
		margin:0 0 47px;
		cursor: pointer;
		position: relative;
	}
}



	.locations_select {
		@include mq(xsmall_laptop) {
			box-shadow: 0.07px 0.998px 5px 0px rgba(11, 6, 6, 0.31);
			height:64px;
			position: relative;
			z-index:1;
			background: $location_select_bg_color;
			@include flex(null,center);
		}
		.selection {
			@include mq(xsmall_laptop) {
				flex-grow:1;
				padding:0 23px;
			}
			span {
				@include mq(xsmall_laptop) {
					display: block;
					@include type((
						size: $location_select_span_size_xlarge_mobile,
						spacing: $location_select_span_spacing_xlarge_mobile,
						family:$primaryfont,
						weight:$location_select_span_weight_xlarge_mobile,
					));
				}
			}
		}
		.selection_arrow {
			@include mq(xsmall_laptop) {
				flex-basis:50px;
				height:100%;
				flex-shrink:0;
				background: $selection_arrow_bg_color_xsmall_laptop;
				@include flex(center,center);
			}
			&:after {
				@include mq(xsmall_laptop) {
					@include tri(down,7px,10px,$selection_arrow_tri_color_small_laptop);
					@include box(0);
				}
			}
		}
	}

	
	.selection_dropdown {
		@include mq(xsmall_laptop) {
			box-shadow: 0.07px 0.998px 5px 0px rgba(11, 6, 6, 0.31);
			width:100%;
			display: none;
			height: 370px;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			@include abs(64px,null,null,0);
		}
		ul {
			@include mq(xsmall_laptop) {
				list-style: none;
			}
			li {
				@include mq(xsmall_laptop) {
					display: block;
					padding:21px 23px;
					background: $selection_dropdown_list_bg_color_xsmall_laptop;
					border-bottom: 1px solid $color_border_bottom;
					transition: all 200ms ease-in-out;
					@include type((
						size: $selection_dropdown_list_size_xsmall_laptop,
						spacing: $selection_dropdown_list_spacing_xsmall_laptop,
						family:$primaryfont,
						weight:$selection_dropdown_list_weight_xsmall_laptop,
					));
				}
				&:hover {
					@include mq(xsmall_laptop) {
						background: $selection_dropdown_list_bg_color_hover_xsmall_laptop;
						color:$selection_dropdown_list_text_color_hover_xsmall_laptop;
					}
				}
			}
		}
	}
	
	
	.single_mobile_location {
		@include mq(xsmall_laptop) {
			text-align: center;
			padding-bottom:33px;
			border-bottom: 1px solid $color_border_bottom;
			margin-bottom:27px;
		}
		&:last-of-type {
			@include mq(xsmall_laptop) {
				padding-bottom:0px;
				margin-bottom:0px;
				border:none;
			}
		}
		h2 {
			@include mq(xsmall_laptop) {
				margin-bottom:5px;
				@include type((
					size: $single_location_h2_size,
					spacing: $single_location_h2_spacing,
					family:$primaryfont,
					color:$single_location_h2_color,
					weight:$single_location_h2_weight,
					transform:uppercase,
				));
			}
		}
		span, a {
			@include mq(xsmall_laptop) {
				display: block;
			}
		}
		span.mobile_address {
			@include mq(xsmall_laptop) {
				@include margin_lr;
				@include type((
					size: $single_location_address_size_xsmall_laptop,
					height: $single_location_address_line_height_xsmall_laptop,
					family:$primaryfont,
					weight:$single_location_address_weight_xsmall_laptop,
				));
			}
		}
		a.mobile_get_directions {
			@include mq(xsmall_laptop) {
				margin-top:7px;
				@include type((
					size: $single_location_get_directions_size_xsmall_laptop,
					spacing: $single_location_get_directions_spacing_xsmall_laptop,
					family:$primaryfont,
					color:$single_location_get_directions_color_xsmall_laptop,
					weight:$single_location_get_directions_weight_xsmall_laptop,
					transform:uppercase,
				));
			}
		}
		a.mobile_phone {
			@include mq(xsmall_laptop) {
				margin-top:20px;
				@include type((
					size: $single_location_phone_size_xsmall_laptop,
					spacing: $single_location_phone_spacing_xsmall_laptop,
					family:$primaryfont,
					color:$single_location_phone_color_xsmall_laptop,
					weight:$single_location_phone_weight_xsmall_laptop,
				));
			}
		}
		a.mobile_phone.spanish_mobile_phone {
			@include mq(xsmall_laptop) {
				margin-top:9px;
			}
		}
	}
